@import "tailwindcss";

@layer base {
  :root {
    --primary: #ffefb3;
    --secondary: #013e37;
  }

  /* Deteksi class dark secara manual lewat javascript */
  .dark {
    --primary: #013e37;
    --secondary: #ffefb3;
  }

  body {
    color: var(--secondary);
    background-color: var(--primary);
    overflow-x: hidden;
  }

  /* Menghilangkan Webkit Scrollbar */
  body::-webkit-scrollbar {
    display: none;
  }

  * {
    scroll-behavior: smooth;
  }
}

/* Glassmorphic Floating Navbar Effect */
#navbar.scrolled {
  background-color: var(--primary);
  opacity: 0.9;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(1, 62, 55, 0.1);
  backdrop-filter: blur(12px);
  padding: 1rem 2rem;
  border-radius: 9999px;
  width: 90%;
  max-width: 600px;
  top: 15px;
}

.dark #navbar.scrolled {
  border: 1px solid rgba(255, 239, 179, 0.1);
}

/* Animasi khusus hamburger menu */
#hamburger.active #line1 {
  transform: rotate(45deg) translate(5px, 6px);
}
#hamburger.active #line2 {
  opacity: 0;
}
#hamburger.active #line3 {
  transform: rotate(-45deg) translate(5px, -6px);
}